.button {
  width: 6.4em;
  height: 2em;
  font-size: 14px;
  color: inherit;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 0 0.5em 0 0;
  padding: 0;
  border-radius: 20px;

  @media only screen and (max-width: 700px) {
    max-width: 4em;
    font-size: 12px;
  }
}
