.header {
  /* background: rgb(28, 1, 29);
  background: linear-gradient(
    90deg,
    rgba(28, 1, 29, 1) 0%,
    rgba(49, 3, 51, 1) 35%,
    #6c0471 51%,
    rgba(49, 3, 51, 1) 67%,
    #1c011d 100%
  ); */
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.icon {
  background-color: inherit;
  width: 0.8em;
  border-radius: 20px;
  padding-left: 0.7em;
  margin: 0 0 0 0.5em;
  padding: 0;
  @media only screen and (max-width: 700px) {
    max-width: 0.8em;
  }
}
.buttonDiv {
  margin-left: 1.5em;
  height: 2.3em;
  display: flex;
  background-color: var(--color--white);
  align-items: center;
  width: 7em;
  color: var(--color--purple);
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--color--purple);
  transition: all 0.6s;
  @media only screen and (max-width: 700px) {
    width: 6em;
    height: 2em;
  }
}
.buttonDiv:hover {
  background-color: var(--color--purple);
  border-radius: 30px;
  color: var(--color--white);
}
