.carShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}
.carImage {
  width: 20em;
}
.divImage {
  display: flex;
  justify-content: center;
}
.carDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color--white);
  width: 60%;
  border: 2px solid var(--color--purple);
  border-radius: 15px;
}
.nameCar {
  text-align: center;
  font-size: 30px;
}
.textDetails {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}
.selectModal {
  width: 20em;
}
