@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}
html {
  background: linear-gradient(
    180deg,
    rgba(195, 185, 183, 1) 0%,
    rgba(169, 153, 161, 1) 15%,
    rgba(144, 124, 140, 1) 29%,
    rgba(106, 77, 107, 1) 51%,
    rgba(90, 60, 92, 1) 74%,
    rgba(81, 51, 84, 1) 87%,
    rgba(71, 41, 76, 1) 100%
  );
}
:root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
  --color--purple: #47294c;
  --color--black: #010101;
  --color--fedora: #816f7d;
  --color--silver: #c3b9b7;
  --color--white: #faf4fc;
  color-scheme: light dark;
  color: var(--color--purple);
  background-color: var(--color--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
