.user {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 1.5em;
  @media only screen and (max-width: 700px) {
    max-width: 2em;
    height: 2em;
  }
}
.image {
  width: 2.4em;
  @media only screen and (max-width: 700px) {
    max-width: 1.9em;
  }
}
