.homeShowCategoryCars {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
  height: 20em;
  border-bottom: 2px solid var(--color--white);
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.moreRented {
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  color: var(--color--white);
  font-size: 25px;
}
.moreRentedDiv {
  display: flex;
  flex-direction: column;
}
.itemsRented {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
  border-bottom: 2px solid var(--color--white);
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
