.homeShowCategoryCars {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
  height: 20em;
  border-bottom: 2px solid var(--color--white);
  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 400px) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.itemCategoryCar {
  align-items: center;
  margin: 1em 3em 1em 3em;
  height: 5em;
  border: 3px solid var(--color--purple);
  background-color: var(--color--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 15em;
  justify-content: center;
  @media only screen and (max-width: 400px) {
    height: 2em;
  }
}
.itemCategoryCar span {
  margin-left: 3em;
}

.imgCar {
  width: 2em;
  height: 1.5em;
  margin-left: 2em;
}
.moreRented {
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  color: var(--color--white);
  font-size: 25px;
}
.moreRentedDiv {
  display: flex;
  flex-direction: column;
}
.itemsRented {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
  border-bottom: 2px solid var(--color--white);
  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 400px) {
    display: flex;
    flex-direction: column;
  }
}
.rentedItem {
  align-items: center;
  margin: 1em 3em 1em 3em;
  height: 5em;
  border: 3px solid var(--color--purple);
  background-color: var(--color--white);
  display: flex;
  width: 15em;
  justify-content: center;
  @media only screen and (max-width: 400px) {
    height: 2em;
  }
}
