.homeShowCategoryCars {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
  height: auto;
  background: inherit;
  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}
.itemCategoryCar {
  width: 100%;
  margin: 1em 3em 1em 3em;
  height: 5em;
  border: 3px solid var(--color--purple);
  background-color: var(--color--white);
  display: flex;
  width: 10em;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.itemCategoryCar:hover {
  height: 20em;
}

.imgCar {
  width: 2em;
  height: 1.5em;
}
